h1
{
    text-align: center!important;
    margin-left: 25%;
    width: 50%;
    font-size: 40px!important;
    border:1px solid orangered!important;
}
img
{
    background-size: 300px!important;
    width: 100px!important;
    height: 100px!important;
    margin-right: 150px!important;
    position: relative!important;
}



#logo
{
    margin-top:5%;
}



body
{

    font-size: 13px;
    text-shadow: black 1px 1px!important;
    background-color: #b3d7ff;
}

#competence
{
    color: #b3d7ff;
    top: 150px;
    border:2px solid white;
    background-color: #6f42c1;
}

#expro
{
    color: #b3d7ff;
    border:2px solid white;
    background-color: #721c24;


}

#etudes
{
    color: #abdde5;
    border: 2px solid blueviolet;
    background-color: #0062cc;
}

h1 h2 h3 h4
{
    text-align: center!important;

}
.container .contenu {
    display: none;
}