h1
{
    text-align: center!important;
}
img
{
    background-size: 300px!important;
    width: 100px!important;
    height: 100px!important;
    margin-right: 100px!important;
    position: relative!important;
}

body {
    font-size: 15px !important;
    font-family: "Arial Black" !important;

    text-shadow: 1px 1px black;

}

h1
{
    margin-left: 25%;
    width: 50%;
    font-size: 50px!important;
    border:1px solid black!important;


}

#competences
{
    background-color: #20c997;
}

#exppro
{
    background-color: #c69500;
}
#formation
{
    background-color: red;
}